<div class="content">

  <div class="title">
      <h1>Listagem de aulas</h1>
  </div>

  <button (click)="novaAula()" mat-stroked-button color="primary" id="btn-nova-aula">
    <i class="bi bi-plus-lg"></i> Nova Aula
  </button>

  <div class="mat-elevation-z8 content-table">
      <table class="table" mat-table [dataSource]="aulasPorUsuario">
          <!-- Position Column -->
          <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
          </ng-container> -->

          <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let row"> {{ row.descricao }} </td>
          </ng-container>

          <ng-container matColumnDef="nomeUsuario">
            <th mat-header-cell *matHeaderCellDef> Professor </th>
            <td mat-cell *matCellDef="let row"> {{ row.nomeUsuario }} </td>
          </ng-container>

          <ng-container matColumnDef="nomeDisciplina">
            <th mat-header-cell *matHeaderCellDef> Disciplina </th>
            <td mat-cell *matCellDef="let row"> {{ row.nomeDisciplina }} </td>
          </ng-container>

          <ng-container matColumnDef="nomePregao">
            <th mat-header-cell *matHeaderCellDef> Pregão </th>
            <td mat-cell *matCellDef="let row"> {{ row.nomePregao }} </td>
          </ng-container>

          <ng-container matColumnDef="nomeLaboratorio">
            <th mat-header-cell *matHeaderCellDef> Laboratório </th>
            <td mat-cell *matCellDef="let row"> {{ row.nomeLaboratorio }} </td>
          </ng-container>

          <ng-container matColumnDef="dataUtilizacao">
            <th mat-header-cell *matHeaderCellDef> Data de utilização </th>
            <td mat-cell *matCellDef="let row"> {{ formatarData(row.dataUtilizacao) }} </td>
          </ng-container>

          <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef> Valor da aula</th>
            <td mat-cell *matCellDef="let row"> {{ row.valor | currency }} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let row"> {{ row.status }} </td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let row">
              <button *ngIf="row.status === 'EDICAO'" (click)="editarAula(row.id)" mat-button color="primary">
                <i class="bi bi-pencil-square"></i>editar
              </button>
              <button (click)="listarItensAula(row.id)" mat-button color="accent">
                <i class="bi bi-box2-heart"></i> itens
              </button>
              <button *ngIf="row.status === 'EDICAO'" (click)="enviarAula(row.id)" mat-button color="basic">
                <i class="bi bi-send"></i> enviar aula
              </button>
              <button *ngIf="row.status === 'EDICAO'" (click)="excluirAula(row.id)" mat-button color="warn">
                <i class="bi bi-trash3"></i>excluir
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
  </div>
</div>
