<div id="form-cadastro-aula" class="form container text-center">
    <h1><strong> Nova aula </strong></h1>
    <form>
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Descrição: </mat-label>
          <input
            matInput [(ngModel)]="aula.descricao"
            type="text"
            name="descricao"
            />
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Disciplina: </mat-label>
          <mat-select [(ngModel)]="aula.disciplina.id"  [formControl]="disciplina">
            <mat-option *ngFor="let disciplina of disciplinas" [value]="disciplina.id">
                {{ disciplina.nome }} | <i>{{ disciplina.curso?.nome }}</i>
              </mat-option>
          </mat-select>
          <mat-error *ngIf="disciplina.invalid">
            O preenchimento do campo 'Disciplina' é obrigatório!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Laboratório: </mat-label>
          <mat-select [(ngModel)]="aula.laboratorio.id"  [formControl]="laboratorio">
            <mat-option *ngFor="let laboratorio of laboratorios" [value]="laboratorio.id">
                {{ laboratorio.nome }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="laboratorio.invalid">
            O preenchimento do campo 'Laboratório' é obrigatório!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Data de utilização dos insumos: </mat-label>
          <input
            matInput
            type="date"
            [(ngModel)]="aula.dataUtilizacao"
            [formControl]="dataUtilizacao">
          <mat-error *ngIf="dataUtilizacao.invalid">
            O preenchimento do campo 'Data de utilização' é obrigatório!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row" id="botoes-de-acao">
        <button (click)="inserirAula()" class="btn-salvar" mat-raised-button color="primary">
          Salvar
        </button>
        <button (click)="cancelar()" class="btn-cancelar" mat-raised-button color="warn">
          Cancelar
        </button>
      </div>
    </form>
  </div>
