.title h1 {
    max-width: 100%;
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: bolder;
    text-align: center;
  }
  
  .content {
    max-width: 100%;
    margin-top: 20px;
  }
  
  .table th, td{
    text-align: center;
  }
  
  #btn-nova-lista-de-compras {
    margin-bottom: 5px;
  }
  
#btn-acao-itens,
#btn-acao-pdf {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}