<div class="content">

  <div class="title">
      <h1>Listagem de requisições de aulas</h1>
  </div>

  <div class="mat-elevation-z8 content-table">
      <table class="table" mat-table [dataSource]="aulas">
          <!-- Position Column -->
          <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
          </ng-container> -->

          <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let row"> {{ row.descricao }} </td>
          </ng-container>

          <ng-container matColumnDef="nomeUsuario">
            <th mat-header-cell *matHeaderCellDef> Professor </th>
            <td mat-cell *matCellDef="let row"> {{ row.nomeUsuario }} </td>
          </ng-container>

          <ng-container matColumnDef="nomeDisciplina">
            <th mat-header-cell *matHeaderCellDef> Disciplina </th>
            <td mat-cell *matCellDef="let row"> {{ row.nomeDisciplina }} </td>
          </ng-container>

          <ng-container matColumnDef="nomePregao">
            <th mat-header-cell *matHeaderCellDef> Pregão </th>
            <td mat-cell *matCellDef="let row"> {{ row.nomePregao }} </td>
          </ng-container>

          <ng-container matColumnDef="nomeLaboratorio">
            <th mat-header-cell *matHeaderCellDef> Laboratório </th>
            <td mat-cell *matCellDef="let row"> {{ row.nomeLaboratorio }} </td>
          </ng-container>

          <ng-container matColumnDef="dataUtilizacao">
            <th mat-header-cell *matHeaderCellDef> Data de utilização </th>
            <td mat-cell *matCellDef="let row"> {{ formatarData(row.dataUtilizacao) }} </td>
          </ng-container>

          <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef> Valor da aula</th>
            <td mat-cell *matCellDef="let row"> {{ row.valor | currency }} </td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let row">
              <button (click)="listarItensAula(row.id)" mat-stroked-button color="accent">
                itens <i class="bi bi-box2-heart"></i>
              </button>
              <button (click)="listarItensAula(row.id)" mat-stroked-button color="primary">
                aprovar<i class="bi bi-check-lg"></i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
  </div>
</div>
