<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Gastronomique</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="showAdminBoard">
        <button id="btn-menu-admin" mat-button [matMenuTriggerFor]="menu">Admin</button>
          <mat-menu #menu="matMenu">
          <button mat-menu-item>Usuários</button>
          <button mat-menu-item>Requisições</button>
        </mat-menu>
      </li>
      <li class="nav-item" *ngIf="showProfessorBoard">
        <button id="btn-menu-insumos" mat-button [matMenuTriggerFor]="menu">Insumos</button>
          <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="navegarListagemInsumos()">Listar</button>
          <button mat-menu-item (click)="navegarCadastroInsumo()">Cadastrar</button>
        </mat-menu>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Cadastrar-se</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()" routerLink="login">Sair</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
