.title h1 {
  max-width: 100%;
  font-size: 24px;
  font-family: 'Poppins';
  font-weight: bolder;
  text-align: center;
}

.content {
  max-width: 100%;
  margin-top: 40px;
}

.table th, .table td{
  text-align: center;
  padding-top: 5px;
}

#btn-acao-ativar-usuario,
#btn-acao-desativar-usuario,
#btn-acao-tornar-admin,
#btn-acao-retirar-permissao-admin {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
