<div id="form-cadastro-disciplina" class="form container text-center">
    <h1><strong>Inserir nova disciplina </strong></h1>
    <form>
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input
            matInput [(ngModel)]="disciplina.nome"
            [formControl]="nome"
            required
            type="text"
            name="nome"
            />
            <mat-error *ngIf="nome.invalid">
              "O campo 'Nome' é obrigatório o preenchimento!"
            </mat-error>
        </mat-form-field>
      </div>
  
      <div class="row" id="botoes-de-acao">
        <button (click)="inserirDisciplina()" class="btn-salvar" mat-raised-button color="primary">
          Salvar
        </button>
        <button (click)="cancelar()" class="btn-cancelar" mat-raised-button color="warn">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  