<div class="col-md-12">
  <div class="card card-container">
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username"><strong>E-mail:</strong></label>
        <input
          type="email"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
          Informe seu e-mail
        </div>
      </div>
      <div class="form-group">
        <label for="password"><strong>Senha:</strong></label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="password.errors['required']">Informe sua senha</div>
          <div *ngIf="password.errors['minlength']">
            A senha possui pelo menos 6 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn-block" id="btn-login">
          <strong>Login</strong>
        </button>
        <button class="btn-block" id="btn-esqueci-a-senha">
          <strong>Esqueci a Senha</strong>
        </button>
      </div>
      <div class="form-group">
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
          Erro: {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Seu usuário possui permissões de:
      <br> {{ roles[0].slice(5) }}
      <br> {{ roles[1].slice(5) }}
    </div>
  </div>
</div>
